<%= form_for(photo) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "نام" %>
    <%= f.text_field :first_name ,class: "form-control text-center farsi_font" %>
  </div>

  <br>

  <div class="field">
    <%= f.label "نام خانوادگی" %>
    <%= f.text_field :last_name,class: "form-control text-center farsi_font" %>
  </div>
  <br>


  <div class="field">
    <%= f.label "شماره موبایل" %>
    <%= f.number_field :phone ,class: "form-control text-center farsi_font"%>
  </div>

  <br>

  <div class="field">
    <%= f.label "ایمیل" %>
    <%= f.email_field :email ,class: "form-control text-center farsi_font"%>
  </div>

  <br>

  <hr style="color: white;
    border-style: groove;
    border-color: white; max-width: 100% !important;">
  <h3>
    با تشکر از شما
  </h3>

  <hr style="color: white;
    border-style: groove;
    border-color: white; max-width: 100% !important;">

  <br>


  <div class="field">
    <%= f.label "photo number"%>
    <%= f.text_field :number ,class: "form-control text-center farsi_font", placeholder: "شماره عکس دوربین" %>
  </div>

  <br>

  <div class="field">
    <%= f.label "password" %>
    <%= f.text_field :pass ,class: "form-control text-center farsi_font" , placeholder: "چیزی وارد نکنید!" %>
  </div>

  <br>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatars, multiple: true ,class: "form-control text-center" %>
  </div>
  <br>


  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published , class: "form-control text-center"  %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "ثبت" , class: "btn btn-primary btn-block" %>
  </div>
<% end %>
