<section id="download" class="download text-center bg-primary">
  <div class="container">
    <div class="row">
      <p id="notice"><%= notice %></p>

      <h1>Photos</h1>
      <%= link_to 'New Photo', new_photo_path, class: "btn btn-primary btn-large" %>
      <br>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>published</th>
              <th>pass</th>
              <th>Avatar</th>
              <th>Number</th>
              <th>alerted</th>
              <th>view_times</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @photos.order("created_at desc").each do |photo| %>
            <tr>
              <td><%= photo.first_name %></td>
              <td><%= photo.last_name %></td>
              <td><%= photo.phone %></td>
              <td><%= photo.email %></td>
              <td><%= photo.published %></td>
              <td><%= photo.pass %></td>
              <td><%= photo.avatars.count %>
                <% photo.avatars.each do |p| %>
                <%= image_tag p.url(:thumb) %>
                <% end %>
              </td>
              <td><%= photo.number %></td>
              <td><%= photo.alerted %></td>
              <td><%= photo.view_times %></td>
              <td><%= link_to 'Show', photo %></td>
              <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
              <td class="hidden"><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <%= link_to 'New Photo', new_photo_path, class: "btn btn-primary btn-large" %>
    </div>
  </div>
</section>
